{% extends "layoutBase.html.twig" %}


{% block content %}
    Challenge :{{ libelchal }}
    Regate sélectionnée {{ libelreg }}
    <a href ="{{ path ('dl2015_regate') }}">Retour au choix précédent</a>
    {#{{ form(form) }}#}
    
    


{% endblock %}