{% extends "layoutBase.html.twig" %}


{% block content %}
    Challenge : {{ libelchal }}</br>
    Regate sélectionnée : {{ libelreg }}</br>
    <a href ="{{ path ('dl2015_regate') }}">Retour au choix précédent</a>
    {{ form(form) }}
    
    


{% endblock %}